@{
  Layout = "_Layout";
}

<h2>No books were found</h2>
<h4>Your search did not return any results. Please try again.</h4>

<p>@Html.ActionLink("Search for a book by author", "SearchAuthor")</p>
<p>@Html.ActionLink("Search for a book by title", "SearchTitle")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>